@{
    ViewBag.Title = "Capstone Inventory";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Capstone Inventory</h1>
            <h4 class="text-center">Making Inventory Easy</h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Login
            </h3>
            <form>
                <div class="form-group">
                    <label for="exampleInputID1">Employee ID</label>
                    <input type="number" class="form-control" id="exampleInputID1" aria-describedby="IDHelp" placeholder="Enter Employee ID">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>